* {
  margin: 0;
  overflow-x: hidden;
}

body {
  color: #092532;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  padding: 0;
  background-color: #eeeeee;
  font-weight: bold;
}

h1 {
  font-family: 'Sacramento', cursive;
  color: GREEN;
}

h2 {
  font-size: 20;
  font-family: 'Red Rose', cursive;
  color: black;
  font-weight: normal;
  margin-bottom: 100px;
  padding-bottom: 10px;
}
}

h3 {
  font-weight: 800;
  font-family: 'Montserrat', sans-serif;
  color: #cf1b1b;
}

p {
  position: relative;
  top: 0;
  line-height: 2;
}

hr {
  border: dotted #EAF 6PX;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
  ;
}

a {
  color: #11999e;
  text-decoration: none;
}

.top-container {
  position: relative;
  background-color: #b2ebf2;
  font-size: 30px;
}

.top-container .text {
  position: absolute;
  top: 7.5 0px;
  left: 41.5%;
}

.mountain {
  background-color: #b2ebf2;
  width: 100%;
  border: 1px solid pink;
}

.middle-container {}

.profile {
    margin-bottom: 10px;
    text-align: center;
    width: 50%;
    margin: 100px auto 100px auto;
  }
  .my {
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }


.skills {}

.skill-row1 {
  width: 50%;
  text-align: left;
  margin-bottom: 100px;
}

.skill-row2 {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  margin: auto 100px 100px auto;
}

.cooking {
  border-radius: 500%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  float: right;
  margin-right: 10px;
}

.js {
  border-radius: 500%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  float: left;
  margin-right: 30px;
}

.bottom-container {
  background-color: #66bfbf;
  padding: 50px 0 20px;
  line-height: 2;
}


.btn {
  box-shadow: 0px 0px 0px 0px #276873;
  background-color: #599bb3;
  border-radius: 18px;
  border: 1px solid #29668f;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Georgia;
  font-size: 17px;
  font-weight: bold;
  padding: 8px 37px;
  text-decoration: none;
  text-shadow: 0px 2px 0px #3d768a;
}

.btn:hover {
  background-color: #408c99;
}

.btn:active {
  position: relative;
  top: 1px;
}
}

.contact-me {
  margin-bottom: 200px;
}
