* {
  margin: 0;
  overflow-x: hidden;
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  padding: 0;
  background-color: #f5f1da;
  font-weight: bold;
}

h1 {
  font-family: 'Sacramento', cursive;
  color: GREEN;
}

h2 {
  font-size: 20;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-weight: normal;
  margin-bottom: 100px;
}
}

h3 {
  font-weight: 800;
  font-family: 'Montserrat', sans-serif;
  color: #cf1b1b;
}

p {
  position: relative;
  top: 0;
}

.top-container {
  position: relative;
  background-color: #b2ebf2;
  font-size: 30px;
}

.top-container .text {
  position: absolute;
  top: 20px;
  left: 40%;
}

.mountain {
  background-color: #b2ebf2;
  width: 100%;
  border: 1px solid pink;
}

.middle-container {}

.bottom-container {}

.profile {
  margin-bottom: 200px;
}

.my {
  border-radius: 50%;
}
}

.skills {}

.skill-row1 {
  width: 50%;
  text-align: left;
  margin-bottom: 100px;
  line-height: 2;
}

.skill-row2 {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
  margin: auto 100px 100px auto;
}

.cooking {
  border-radius: 500%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  float: right;
  margin-right: 10px;
}

.js {
  border-radius: 500%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  float: left;
  margin-right: 30px;
}

.contact-me {
  margin-bottom: 200px;
}
